# PyCharm files
.idea/


*.txt
# Virtual environment
venv/

# Django migrations
#*/migrations/

# Environment variables file
.env

# Python packages
*.pyc
__pycache__/
*__pycache__

# Static files


# Media files

# logger file
requests.log